<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alex Kazarikin</title>
    <link href="../style/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="content">

    <div class="intro">
        <span>Hi there!</span><br>
        <span>My name is <span class="highlight">Alex Kazarikin</span> and I'm <span class="highlight">software developer</span>!</span><br>
        <span>For download CV click
            <a class="highlight-red" href="akazarikin.github.io/docs/CV_Aleksey_Kazarikin_Java_BE_Developer.docx">here</a>.</span>
    </div>
    <table>
        <tbody>
        <tr>
            <td rowspan="3">
                <img src="../image/akazarikin.png" alt="Alex Kazarikin" title="Alex Kazarikin">
            </td>
            <td>
                <span>skype:</span>
            </td>
            <td>
                <a href="skype:alex.snear">alex.snear</a>
            </td>
        </tr>
        <tr>
            <td>
                <span>email:</span>
            </td>
            <td>
                <a href="mailto:akazarikin@gmail.com">akazarikin@gmail.com</a>
            </td>

        </tr>
        <tr>
            <td>
                <span>linkedin:</span>
            </td>
            <td>
                <a href="https://www.linkedin.com/in/akazarikin/">https://www.linkedin.com/in/akazarikin/</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>