<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Alex Kazarikin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style/app/styles.css}">
    <link rel="stylesheet" th:href="@{/style/app/thumbnailAnimation.css}">
    <script type="text/javascript" src="webjars/jquery/3.2.1/jquery.min.js/"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" th:src="@{js/app/three.r92.min.js}"></script>
    <script type="text/javascript" th:src="@{js/app/net.js}"></script>
    <script type="text/javascript" th:src="@{js/app/waves.min.js}"></script>

    <script type="text/javascript" th:src="@{js/app/gallery-edided.min.js}"></script>
    <link rel="stylesheet" th:href="@{/style/app/styles-gallery.css}">

</head>
<body>


<!--&lt;!&ndash; Navbar &ndash;&gt;-->
<!--<nav class="navbar navbar-default">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--                <span class="icon-bar"></span>-->
<!--            </button>-->
<!--            <a class="navbar-brand" href="#">Me</a>-->
<!--        </div>-->
<!--        <div class="collapse navbar-collapse" id="myNavbar">-->
<!--            <ul class="nav navbar-nav navbar-right">-->
<!--                <li><a href="#">WHO</a></li>-->
<!--                <li><a href="#">WHAT</a></li>-->
<!--                <li><a href="#">WHERE</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!-- First Container -->
<section class="wm">
    <div class="container-fluid text-center" style="z-index: 1">
        <h2 class="margin">Who Am I?</h2>
        <img alt="Alex Kazarikin" title="Alex Kazarikin" th:src="@{/image/foto.png}"
             class="img-responsive img-circle margin" style="display:inline" width="300" height="300">
        <h2 style="font-weight: bolder">Alex Kazarikin</h2>
        <h3>I'm a software developer</h3>
    </div>
</section>

<!--&lt;!&ndash; Second Container &ndash;&gt;-->
<!--<div class="container-fluid bg-2 text-center">-->
<!--    <h2 class="margin">What Am I?</h2>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
<!--        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--        consequat. </p>-->
<!--    <a href="#" class="btn btn-default btn-lg">-->
<!--        <span class="glyphicon glyphicon-search"></span> Search-->
<!--    </a>-->
<!--</div>-->

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
    <h3 class="margin">Where To Find Me?</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="skype:alex.snear">
                    <img th:src="@{/image/skype.png}" class="img-responsive"
                         style="width:20%; display: inline" alt="Image">
                    <div class="caption">
                        <p class="style-refference-social">alex.snear</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="https://www.linkedin.com/in/akazarikin/">
                    <img th:src="@{/image/linkedin.png}" class="img-responsive"
                         style="width:20%; display:inline" alt="Image">
                    <div class="caption ">
                        <p class="style-refference-social">linkedin.com/in/akazarikin</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <a href="mailto:akazarikin@gmail.com">
                    <img th:src="@{/image/gmail.png}" class="img-responsive"
                         style="width:20%; display:inline" alt="Image">
                    <div class="caption">
                        <p class="style-refference-social">akazarikin@gmail.com</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer id="footer" class="container-fluid bg-4 text-center">
    <h3>You can download my resume <a class="highlight-red"
                                      href="/downloads/docs/CV_Aleksey_Kazarikin_Java_BE_Developer.docx">here</a></h3>
</footer>


<script type="text/javascript" th:src="@{js/app/thumbnailAnimate.js}"></script>
<!--<th:block layout:fragment="script">-->
<script>
    VANTA.WAVES({
        el: '#footer',
        color: 0x111111,
        waveHeight: 50,
        shininess: 40,
        waveSpeed: 0.45,
        zoom: 2
    })
</script>
<!--</th:block>-->
</body>
</html>